  <div class="w-full max-w-md p-8">
    <div class="flex justify-center mb-6">
    <%= image_tag "logo.png", alt: "Packlight Logo", class: "h-12 w-auto" %>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      

      <!-- Email Field -->
      <div class="mb-5">
        <%= f.label :email, class: "block text-sm font-medium text-gray-700 mb-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-white w-full px-4 py-2 rounded-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition" %>
      </div>

      <!-- Password Field -->
      <div class="mb-5">
        <%= f.label :password, class: "block text-sm font-medium text-gray-700 mb-2" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "bg-white w-full px-4 py-2 rounded-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition" %>
      </div>



      <!-- Remember Me Checkbox -->
      <% if devise_mapping.rememberable? %>
        <div class="mb-6 flex items-center">
          <%= f.check_box :remember_me, class: "h-4 w-4 text-blue-600 focus:ring-blue-500 rounded cursor-pointer" %>
          <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-700 cursor-pointer" %>
        </div>
      <% end %>



      <!-- Submit Button -->
      <div class="mb-6">
        <%= f.submit "Log in", class: "w-full bg-[#0E4450] hover:bg-[#646C5E] text-white font-semibold py-2 px-4 rounded-sm transition duration-200" %>
      </div>
    <% end %>

    <div class="flex items-center my-4 before:flex-1 before:border-t before:border-gray-300 before:mr-4 after:flex-1 after:border-t after:border-gray-300 after:ml-4 text-gray-500">
      or
    </div>
    <!-- Links Section -->
    <div>
      <%= render "devise/shared/links" %>
    </div>



  </div>


   
